<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Market Place</title>

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>        <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.css"/> -->
          <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ base_url() }}/css/app.css">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        {% include 'templates/partials/navigation.twig' %}

        <div class="container-fluid content-container">
            {% include 'templates/partials/flash.twig' %}

            {% block content %}

            {% block message %}{% endblock %}

            {% endblock %}



        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



        {% block javascript %} {% endblock %}


    </body>

</html>
